## Visual Studio / .NET GitIgnore
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.jfm

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/

# Rider / JetBrains
.idea/

# Dotnet / OS files
*.tmp
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
